:root {
    --green: #7ab730;
    --dark: #333;
    --light: #f8f9fa;
    --text: #666;
}

* { margin: 0; 
    padding: 0; 
    box-sizing: border-box; 
    font-family: 'Poppins', sans-serif; }

.container { 
    width: 85%; 
    margin: auto;
}

/* Top Bar with the social icons and group info */
.top-bar { 
    background: #fff; 
    padding: 10px 0; 
    border-bottom: 3px solid hsl(0, 0%, 87%, 0.4); 
    font-size: 17px; 
    color: var(--text); 
}
.top-bar .container { 
    display: flex; 
    justify-content: space-between;
}
.socials i { 
    margin-left: 45px; 
    color: var(--green); 
    cursor: pointer; 
}

/* Navigation bar */
nav { 
    background: #fff; 
    padding: 5px 0; 
    position: sticky; 
    top: 0; 
    z-index: 1000; 
    box-shadow: 0 2px 10px rgba(0,0,0,0.1); 
}

.nav-flex { 
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
}

.logo { 
    font-size: 50px; 
    font-weight: 900; 
    color: var(--dark); 
}

.logo-about{
    font-size: 50px; 
    font-weight: 900; 
    color: var(--dark); 
}
.logo span { color: var(--green); }
.nav-links { display: flex; list-style: none; }
.nav-links li { margin-left: 25px; position: relative; }
.nav-links a { text-decoration: none; color: var(--dark); font-weight: 500; }
.nav-links a:hover { 
    color: var(--green); 
    border-bottom: 3px solid #7ab730;
    padding-bottom: 5px;
}


/* index page grand welcome (come experience.....) */
.hero { 
    height: 90vh; 
    background: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url('images/emmanuel-offei-rEBd3_2M-FU-unsplash.jpg') center/cover;
    display: flex; 
    align-items: center; 
    justify-content: center;
    text-align: center; 
    color: white;
}
.hero h1 { font-size: 4rem; margin: 15px 0 30px; }


/* buttons in the home page*/
form input[type="submit"] {
    font-family: sans-serif;
    font-weight: 400px;
    width: 50%;
    border-radius: 5px;
    cursor: pointer;
    background: #7ab730;
    color: #333;
    border: none;
    padding: 10px;
}

form input[type="submit"]:hover {
    background-color: #45681b;
    border-radius: 5px;
    color: white;
    border: 1px solid #fff;
    transition: 0s;
    box-shadow: 0 0 15px white;
}


.container2 {
    max-width: 1080px;
    width: 90%;
    margin: 7px;
    padding: 40px 0;
}

.photo-gallery{
    display: flex;
    gap: 10px;
}

.column{
    display: flex;
    flex-direction: column;
    gap: 10px;

}

.photo img{
    width: 410px;
}